body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 100px 300px;
    background-color: rgb(1, 1, 37);    
}
.scoreboard{
    width: 450px;
    height: 450px;
    display: flex;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 30px;
}
h3{
    font-family: "Verdana",sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 35.89px;
    text-align: center;
    color: aliceblue;

}
.score{
    display: flex;
    border: 2px solid black;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    width: 155px;
    height: 120px;
    border-radius: 5px 0px 0px 0px;
    background-color: black;

}
h1{
    color: #F94F6D;
    font-family: "Cursed Timer ULiL",sans-serif;
    font-size: 90px;
    font-weight: 400;
    line-height: 126.67px;
    text-align: center; 

}

.hscore-btn1,.hscore-btn2,.hscore-btn3,
.ascore-btn1,.ascore-btn2,.ascore-btn3
{
    width: 45px;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #9AABD8;
    color:#9AABD8;
    background-color: transparent;
    cursor: pointer;
    font-family: "Cursed Timer ULiL",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27.81px;
    text-align: center;
}

.btn-container{
    gap: 10px;
}
.end-btn-container {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 20px 0;
}
.end-btn{
    font-family: "Verdana",sans-serif;
    color: aliceblue;
    background-color: green;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}